SCRAPE_INTERVAL_MS=60000
DB_HOST=localhost
DB_PORT=3308
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=distinct_tokens
MONGODB_URI=mongodb://localhost:27017/crypto_prices
GOOGLE_FINANCE_QUOTE_URL=https://www.google.com/finance/beta/quote/{symbol}-USD
